<div class="frame">
  <div class="support-material">
    <div class="label">material de apoyo</div>
    <div class="administered-by-teacher">
      <div class="label">material de apoyo administrado por el docente</div>
      <div class="pdf">
        <i class="fas fa-file-pdf fa-2x"></i>
        <div class="file-name">PDF</div>
      </div>
      <div class="evaluations">
        <div class="label">Evaluaciones</div>
        <div class="first-evaluation">
          <div class="label">primera evaluacion</div>
          <div class="status">
            <i class="fas fa-check-circle fa-2x"></i>
            <div class="status-text">Estado actual: entregado</div>
          </div>
          <div class="date-range">
            <i class="fas fa-calendar-alt fa-2x"></i>
            <div class="date-text">12/03/2024-26/03/2024</div>
          </div>
          <div class="deadline">
            <i class="fas fa-clock fa-2x"></i>
            <div class="deadline-text">plazo maximo 9:00pm</div>
          </div>
          <div class="upload-files">
            <i class="fas fa-upload fa-2x"></i>
            <div class="upload-text">Cargar archivos</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
