<header class="header">
  <nav class="navbar">
    <a href="#">Inicio</a>
    <a href="#">Actividades</a>
    <a href="#">Acerca de Nosotros</a>
    <a href="#">Contacto</a>
    <a href="#">Ayuda</a>
  </nav>
</header>

<div class="background"></div>
<div class="container">
  <div class="item">
    <h2 class="logo"><i class="bx bxs-user"></i>PolyGloKids</h2>
    <div class="text-item">
      <h2>
        ¡Hola amiguito! <br /><span>
          ¡Bienvenido a PolyGloKids, donde aprender idiomas es como un juego!
        </span>
      </h2>
      <p>apoyanos y aprenda mas acerca de nosotros</p>
      <div class="social-icon">
        <a href="#"><i class="bx bxl-facebook"></i></a>
        <a href="#"><i class="bx bxl-twitter"></i></a>
        <a href="#"><i class="bx bxl-youtube"></i></a>
        <a href="#"><i class="bx bxl-instagram"></i></a>
        <a href="#"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
