@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.layout-content {
  height: 130vh;
  padding: 3em;
}

.cards-container {
  margin: 0 auto;
  height: 100%;
  display: grid;
  grid-template-columns: 0.5fr repeat(6, 1fr) 0.5fr;
  grid-template-rows: repeat(11, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.courser-title-container {
  grid-area: 1 / 1 / 3 / 9;
  background-color: #ae61af;
  align-items: center;
  display: flex;
  width: 100%;
  img {
    width: 30%;
    object-fit: fill;
    height: 100%;
  }
  .course-title {
    text-align: center;
    justify-items: center;
    font-weight: 700;
    width: 50%;
    .course-title-text {
      font-size: 4em;
      span {
        color: #fff;
        font-family: "Pacifico", cursive;
      }
    }
  }
}

.filter-course {
  grid-area: 3 / 2 / 4 / 8;
  display: flex;
  justify-content: space-around;

  height: auto;

  .filter-course-Button {
    border: none;
    padding: 0px;
    width: 10%;
    height: 0px;
    font-size: 1.1em;
    margin-top: 1.2em;
  }

  .filter-course-selectors {
    display: flex;
    gap: 20px;
  }
}

.course-cards {
  grid-area: 4 / 2 / 12 / 8;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;

  .card {
    flex-direction: column;
    max-width: 300px;
    min-width: 340px;
    height: 400px;
    overflow: hidden;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background: #ece9e6;
    background: linear-gradient(to right, #ffffff, #ece9e6);
    justify-self: center;
    flex: 1;
  }
}

.card__image {
  max-width: 100%;
  height: 180px;
  display: block;
  object-fit: cover;
}

.card__body {
  padding: 1em 1em;
  display: flex;
  flex-direction: column;
  p {
    font-size: 0.9em;
  }
}

.tag {
  align-self: flex-start;
  border-radius: 1em;
  font-size: 0.75em;
}

.tag + .tag {
  margin-left: 0.5em;
}

.tag-blue {
  background: #56ccf2;
  background: linear-gradient(to bottom, #2f80ed, #56ccf2);
  color: #fafafa;
}

.tag-brown {
  background: #d1913c;
  background: linear-gradient(to bottom, #ffd194, #d1913c);
  color: #fafafa;
}

.tag-red {
  background: #cb2d3e;
  background: linear-gradient(to bottom, #ef473a, #cb2d3e);
  color: #fafafa;
}

.card__body h4 {
  font-size: 1.3em;
  text-transform: capitalize;
}

.card__footer {
  display: flex;
  margin-top: auto;
}

.user {
  display: flex;
  gap: 0.5em;
  img {
    width: 40px;
    height: 40px;
  }
  h5 {
    text-align: center;
    margin-top: 1em;
  }
}

.user__image {
  border-radius: 50%;
}

.user__info > small {
  color: #666;
}

.mat-mdc-paginator-container {
  display: none;
}

.pagination {
  background-color: inherit;
  span {
    background-color: #fff;
  }
}
