<div class="layout-content">
  <div class="cards-container">
    <div class="courser-title-container">
      <div class="course-title">
        <h2 class="course-title-text">Cursos de <span>idioma</span></h2>
      </div>
      <img src="../../../assets/images/ttt.jpg" alt="" />
    </div>
    <div class="filter-course">
      <div class="filter-course-selectors">
        <mat-form-field>
          <mat-label>Favorite food</mat-label>
          <mat-select [(ngModel)]="selectedValue" name="idiom">
            @for (idiom of idioms; track idiom) {
              <mat-option [value]="idiom.value">{{
                idiom.viewValue
              }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Favorite food</mat-label>
          <mat-select [(ngModel)]="selectedValue" name="levels">
            @for (level of levels; track level) {
              <mat-option [value]="level.value">{{
                level.viewValue
              }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Favorite food</mat-label>
          <mat-select [(ngModel)]="selectedValue" name="progress">
            @for (status of progress; track status) {
              <mat-option [value]="status.value">{{
                status.viewValue
              }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <button type="reset" class="filter-course-Button">reset</button>
      </div>

      <mat-paginator
        [length]="100"
        hidePageSize="true"
        [pageSize]="6"
        aria-label="Select page"
        class="pagination"
      >
      </mat-paginator>

      <app-search-bar></app-search-bar>
    </div>

    <div class="course-cards">
      <div
        class="card"
        *ngFor="let i of [0, 1, 2, 3, 4, 5]"
        [routerLink]="['/course', i]"
      >
        <a>
          <div class="card__header">
            <img
              src="https://source.unsplash.com/600x400/?computer"
              alt="card__image"
              class="card__image"
              width="600"
            />
          </div>
          <div class="card__body">
            <span class="tag tag-blue">Technology</span>
            <h4>What's new in 2022 Tech</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi
              perferendis molestiae non nemo doloribus. Doloremque, nihil! At ea
              atque quidem!
            </p>
          </div>
          <div class="card__footer">
            <div class="user">
              <img
                src="https://i.pravatar.cc/40?img=1"
                alt="user__image"
                class="user__image"
              />
              <div class="user__info">
                <h5>Jane Doe</h5>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
