<div class="layout-content">
  <div class="course-header">
    <img
      src="https://source.unsplash.com/600x400/?computer"
      alt=""
      class="course-header__img"
    />
    <div class="course-header__mid">
      <h2>Calse de ingles nivel 2</h2>
      <p>numero de clases 10</p>
      <p>clase actual 1/10</p>
      <p class="course-header__mid-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi
        perferendis molestiae non nemo doloribus. Doloremque, nihil! At ea atque
        quidem!
      </p>
    </div>
    <div class="course-header__rigth">
      <p class="course-header__rigth-tag">processo</p>
      <div class="course-header__rigth__profeson">
        <img src="https://i.pravatar.cc/40?img=1" alt="" />
        <p>Ana Ochoa</p>
      </div>
    </div>
  </div>
  <div class="course-details">
    <mat-tab-group animationDuration="0ms" class="tabs">
      <mat-tab label="Detalles">
        <!-- details component -->
        <app-description-course></app-description-course>
      </mat-tab>

      <mat-tab label="alumnons">
        <!-- alumns component -->
        <div class="alumnos-container">
          <div class="alumnos-container-left">
            <app-card-contact></app-card-contact>
            <div class="select-card-option">
              <div class="select-card-option__button button-contact-left">
                estudiante
              </div>
              <div class="select-card-option__button button-contact-right">
                profesor
              </div>
            </div>
          </div>
          <app-users-table></app-users-table>
        </div>
      </mat-tab>
      <!-- details component -->
      <mat-tab label="clases"> <app-clases></app-clases> </mat-tab>
      <mat-tab label="evaluaciones">
        <app-evaluciones-studiantes></app-evaluciones-studiantes>
      </mat-tab>
      <!-- details component -->
    </mat-tab-group>
  </div>
</div>
