<div class="detail-container">
  <ul class="ul-details">
    <h3>Detalles</h3>
    <li *ngFor="let detail of courseDetails" class="info-meet-calendary">
      <i class="{{ detail.icon }}"></i>
      <p>{{ detail.title }}:</p>
      <p>{{ detail.value }}</p>
    </li>
  </ul>
  <div class="detail-left">
    <h3>descripcios</h3>

    <p class="course-header__mid-description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi perferendis
      molestiae non nemo doloribus. Doloremque, nihil! At ea atque quidem! Lorem
      ipsum dolor sit amet consectetur adipisicing elit. Sequi perferendis
      molestiae non nemo doloribus. Doloremque, nihil! At ea atque quidem! Lorem
      ipsum dolor sit amet consectetur adipisicing elit. Sequi perferendis
      molestiae non nemo doloribus. Doloremque, nihil! At ea atque quidem! Lorem
      ipsum dolor sit amet consectetur adipisicing elit. Sequi perferendis
      molestiae non nemo doloribus. Doloremque, nihil! At ea atque quidem!
    </p>
  </div>
</div>
