<div>
  <div class="class-column">
    <div class="class-button">Clase 1</div>
    <div class="class-button">Clase 2</div>
    <div class="class-button">Clase 3</div>
    <div class="class-button">Clase 4</div>
    <div class="class-button">Clase 5</div>
    <div class="class-button">Clase 6</div>
    <div class="class-button">Clase 7</div>
    <div class="class-button">Clase 8</div>
    <div class="class-button">Clase 9</div>
    <div class="class-button">Clase 10</div>
  </div>
  <div class="container">
    <h1 class="title">"*Explorando el Mundo del Inglés!"</h1>
    <div class="details">
      <div class="time-and-name">
        <span class="icon">⏰</span>
        Hora 9pm 23 de mayo 2024<br />
        <span class="icon">👤</span>
        Juan Carlos
      </div>
      <div class="topic">
        <span class="icon">🌐</span>
        Idioma: Inglés<br />
        <span class="icon">📚</span>
        Tema: Verbo to be<br />
        <span class="icon">🎓</span>
        basico
      </div>
      <div class="link">
        <span class="icon">💬</span>
        HELLO<br />
        <a
          href="https://meet.google.com/dwd-hgcm-ffr?pli-1"
          target="_blank"
          rel="noopener noreferrer"
          >Unete a la clase aqui!</a
        >
      </div>
      <div class="note">
        <span class="icon">📝</span>
        Clase 2/10<br />
        <span class="icon">💯</span>
        Nota: 7/10
      </div>
    </div>
  </div>
</div>
